{% extends 'base.html' %}
{% load static %}


{% block title %}
Contact Page
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock extrahead %}


{% block content %}

<div class="container">
    <p>
        Hi I'm Luca! I'm 20 years old and currently studying Computer Science and Engineering at the University of
        Bologna.
    </p>
    <a class="link" href="https://github.com/Dear-Luca">Here you can find my github!</a>
</div>


{% endblock content %}