.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
}

.hero-content {
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 15px;
    transform: translateY(-45%);

}

.hero-title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-description {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hero-button:hover {
    background-color: #1c66b0;
}

.about-section,
.contact-section {
    text-align: center;
    padding: 60px 30px;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.about-section h2,
.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #1c66b0;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-description {
        font-size: 1.2rem;
    }

}