/* File: project.css */


.project-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.project-info {
    text-align: center;
    padding: 20px 0;
}

.project-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.project-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

.project-link:hover {
    color: #1c66b0;
}

.back-home {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.back-home:hover {
    background-color: #1c66b0;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 15px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.carousel-image {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.video-container {
    text-align: center;
    margin-top: 50px;
}

.video-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.video-project {
    width: 100%;
    max-width: 1000px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}